<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap-theme.min.css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
    <link rel='stylesheet' href='/stylesheets/custom.css' />
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/docs.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script></script>
  </head>
  <body>
    <div class="site-wrapper">
      <div class="site-wrapper-inner" >
      <!-- style="background-image: url(/images/posters.jpg); 
background-repeat:no-repeat; background-position: center; background-size:98%% 98%%" -->
        <div class="cover-container">

          <div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand"><%=title%></h3>
              <ul class="nav masthead-nav">
                <li><a href="mailto:sumedha.pramod@gmail.com">Contact</a></li>
              </ul>
            </div>
          </div>

          <div class="inner cover">
            <h1 class="cover-heading"><%=title%></h1>
            <p class="lead"><%=title%> is a Weekly Top 15 Bollywood music streaming app for chromecast. The weekly top 15 list is pulled from Saavn</p>
            <!-- <div class="song-list"> -->
	            <!-- <p class="row"> -->
                   <p class="row">SONG <%= output_list[0] %></p>
                   <p class="row">SONG <%= output_list[1] %></p>
                   <p class="row">SONG <%= output_list[2] %></p>
                   <p class="row">SONG <%= output_list[3] %></p>
                   <p class="row">SONG <%= output_list[4] %></p>

<!-- 	            	<div class="col-sm-2">#1</div>
	            	<div class="col-sm-2">#2</div>
	            	<div class="col-sm-2">#3</div>
	            	<div class="col-sm-2">#4</div>
	            	<div class="col-sm-2">#5</div>
	            </p>
	            <p class="row">
	            	<div class="col-sm-2">#6</div>
	            	<div class="col-sm-2">#7</div>
	            	<div class="col-sm-2">#8</div>
	            	<div class="col-sm-2">#9</div>
	            	<div class="col-sm-2">#10</div>
	            </p>
	            <p class="row">
	            	<div class="col-sm-2">#11</div>
	            	<div class="col-sm-2">#12</div>
	            	<div class="col-sm-2">#13</div>
	            	<div class="col-sm-2">#14</div>
	            	<div class="col-sm-2">#15</div>
	            </p> -->

           	<!-- </div> -->
          </div>

          <div class="mastfoot">
            <div class="inner">
              <p><a href="https://github.com/pramodsum">@pramodsum</a></p>
            </div>
          </div>

        </div>
      </div>
    </div>
  </body>
</html>